.card-container{
    box-sizing: border-box;
    display: flex;
    background-color: #629EA3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.card{
    width:350px;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px black;
    border-radius: 5px;
}
.card:hover{
    box-shadow: 6px 12px 10px white;
}
.card-body{
    background-color: #76208D;
    color: white;
    padding: 5px;
}

.img-style{
    width: 350px;
    cursor: pointer;
}
.card-title{
    font-size: 3.2rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.card-description{
    padding: 5px;
    text-align: justify;
}

.link a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.link a:hover{
    background-color: black;
    color: orange;
    
}